<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>fixed source</run_mode>
  <batches>20</batches>
  <particles>1000</particles>
  <k_crit>1.5</k_crit>
  <create_fission_delayed_neutrons>false</create_fission_delayed_neutrons>

  <source strength="1.0">
    <space type="box">
      <parameters>-0.63 -0.63 -1 0.63 0.63 1</parameters>
    </space>
  </source>
  <energy_mode>multi-group</energy_mode>
</settings>
